<a href="https://colab.research.google.com/github/cristhian-espitia/Project_Data_Science/blob/main/1_Practica_limpieza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



EMPEZANDO A MANEJAR COLAB CON CIENCIA DE DATOSüëäüëçüôè

TRAEMOS LIBRERIAS A UTILIZAR:üë©‚Äçüíªüë©‚Äçüíª

In [ ]:
import pandas as pd
import numpy as np

TRAEMOS EL ARCHIVO PREVIAMENTE SUBIDO AL DRIVE

1.Traemos la priemra hoja de excel con datos y con 'skiprows' le decimos que omita las primeras 5 filas que no me traen niguna informacion
2.Agregamos una columna extra para saber de que tabla pertenece ,esto es muy util para cuanod concatenemos todas las tablas

In [ ]:
df_gastos_varios=pd.read_excel('/content/drive/MyDrive/PROYETO CLASE/12_DICIEMBRE_2020.xlsx', sheet_name='GASTOS VARIOS', skiprows=5)
df_gastos_varios['SHEET']= 'GASTOS VARIOS'

In [ ]:
df_contratistas=pd.read_excel('/content/drive/MyDrive/PROYETO CLASE/12_DICIEMBRE_2020.xlsx', sheet_name='CONTRATISTAS Y FDO FED', skiprows=5)
df_contratistas['SHEET']= 'CONTRATISTAS Y FDO FED'

In [ ]:
df_ser_pprof=pd.read_excel('/content/drive/MyDrive/PROYETO CLASE/12_DICIEMBRE_2020.xlsx', sheet_name='SERV PPROF', skiprows=5)
df_ser_pprof['SHEET']= 'SERV PPROF'

In [ ]:
df_comunicacion=pd.read_excel('/content/drive/MyDrive/PROYETO CLASE/12_DICIEMBRE_2020.xlsx', sheet_name='COMUNICACION', skiprows=5)
df_comunicacion['SHEET']= 'COMUNICACION'

In [ ]:
df_serv_pers=pd.read_excel('/content/drive/MyDrive/PROYETO CLASE/12_DICIEMBRE_2020.xlsx', sheet_name='SERV. PERS.', skiprows=5)
df_serv_pers['SHEET']= 'SERV. PERS.'

CONCATENAMOS NUESTRAS 5 TABLAS , usamos concat por que las tablas no tienen relacion con colunmas con llaves primarias o secundarias

In [ ]:
df_compras_dic = pd.concat([df_gastos_varios,df_contratistas,df_ser_pprof,df_comunicacion,df_serv_pers])

Miramos , traemos los primeros 5 registros

In [ ]:
df_compras_dic.head (5)

,NUM BEN,BENEFICIARIO,RFC,FACTURA,CONTRATO,CONCEPTO,TIPO,# OP,FECHA,IMPORTE,SHEET
0,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS AF8458-158008-3972,OT. 20204373,REEMPLAZO E INSTALACION DE AMORTIGUADORES (DEL...,TR,1019110.0,2020-12-11,14911.80,GASTOS VARIOS
1,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF6916-158008-4041,OT. 20204425,REEMPLAZO E INSTALACION DE OCHO BIRLOS Y NUEVE...,TR,1019110.0,2020-12-11,2528.80,GASTOS VARIOS
2,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF6917-158008-3975,OT. 20204376,REEMPLAZO DE DOS RINES (17). PATRIMONIO 80383...,TR,1019110.0,2020-12-11,8500.02,GASTOS VARIOS
3,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF7004-158008-3971,OT. 20204374,REEMPLAZO DE DOS RINES (14). PATRIMONIO 8007...,TR,1019110.0,2020-12-11,2400.01,GASTOS VARIOS
4,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF7137-158008-4554,OT. 20205130,REEMPLAZO E INSTALACION DE RIN 14. PATRIMONIO ...,TR,299001496.0,2020-12-23,1537.00,GASTOS VARIOS

Miramos cuantos datos tenemos a esta altura

In [ ]:
len (df_compras_dic)

1774

El archivo tiene filas  con totales  atravesados en varias partes de nuestra tabla , procederemos a eliminar esto

In [ ]:
df_compras_dic_com = df_compras_dic.dropna (how ='any')

Procedemos a mirar con esta elinimacion cuantas columnas quedaron restantes

In [ ]:
len (df_compras_dic_com)

1540

Analizamos el tipo de datos que contiene la tabla

In [ ]:
df_compras_dic_com.dtypes

NUM BEN                 object
BENEFICIARIO            object
RFC                     object
FACTURA                 object
CONTRATO                object
CONCEPTO                object
TIPO                    object
# OP                   float64
FECHA           datetime64[ns]
IMPORTE                float64
SHEET                   object
dtype: object

Revisamos que los datos si sena correctos , se supone que es un archivo de diciembre, revisamos que todo si sea de diciembre no que aparezca ningun dato por fuera de ese mes, MES 12 ü¶æ CORRECTO

In [ ]:
df_compras_dic_com ['FECHA'].apply(lambda x: x.month).value_counts()

12    1540
Name: FECHA, dtype: int64

GUARDAMOS EN UNA CARPETA ( data: carpeta creada , clean_compras= nombre que el voy a signar a mi archivo en csv) y le pedimos que no guarde el indece con lo ultimo

In [ ]:
df_compras_dic_com.to_csv('/content/drive/MyDrive/PROYETO CLASE/clean_compras.csv', index=None)